@use '@/styles/constants' as *;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  border-radius: 5px;
  box-shadow: $shadow;
  background-color: $background-contrast-color;
  padding: 2rem;
  z-index: 2;
  margin: auto;

  @media screen and (max-width: 1031px) {
    width: 85%;
  }

  @media screen and (min-width: 1032px) {
    width: 40%;
  }
}

