@use '@/styles/constants' as *;

.main {
  min-height: 100vh;
  padding: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  border-radius: 5px;
  box-shadow: $shadow;
  background-color: $background-contrast-color;
  padding: 2rem;

  @media screen and (max-width: 1031px) {
    width: 85%;
  }

  @media screen and (min-width: 1032px) {
    width: 40%;
  }
}

