.header {
  display: flex;
  padding: 3rem 2rem;
  align-items: center;
  background-color: #16213ecf;
  height: 8vh;
  z-index: 3;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  h1 {
    color: #E94560;
  }
}