.rail {
  padding: 0 0 0 2em ;
  width: 100vw;
}

.railList {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1em;

  &::-webkit-scrollbar {
    display: none;
  }
}

.railListItem {
  transition: transform 450ms;
  cursor: pointer;

  img {
    max-height: 300px;
    border-radius: 5px;
  }

  &:hover {
    transform: scale(1.1);
  }
}
