@use '@/styles/constants' as *;

.rail {
  padding: 0 0 0 2em ;
  width: 100vw;
}

.railList {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1em;

  &::-webkit-scrollbar {
    display: none;
  }
}

.railListItem {
  position: relative;
  cursor: pointer;
  transition: transform 450ms;
  border-radius: $border-radius;
  background-color: $background-box-color;
  min-width: 200px;
  min-height: 300px;
  
  img {
    z-index: 3;
    position: relative;
    border-radius: 5px;
    max-height: 300px;
    min-height: 100%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.railListItemTitle {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.6rem;
}
