.main {
  min-height: 100vh;
  padding: 4rem 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie {
  display: flex;
  padding: 4rem;
  margin: 4rem;
  border-radius: 5px;

  img {
    border-radius: 5px;
  }
}

.movieDetails {
  margin-left: 2rem;
}

.title {
  margin: 2rem 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
  z-index: 2;
}

.content {
  z-index: 2;
}
