.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1031px) {
    padding: 6rem 0 0 0;
  }

  @media screen and (min-width: 1032px) {
    padding: 4rem 0 0 0;
  }
}

.movieContainer {
  display: flex;
  margin: 2rem;
  border-radius: 5px;

  img {
    border-radius: 5px;
    align-self: center;
  }

  @media screen and (max-width: 1031px) {
    flex-direction: column;
    img {
      max-height: 48vh;
      width: auto;
    }
  }

  @media screen and (min-width: 1032px) {
    flex-direction: row;
    margin: 4rem;
    padding: 4rem;
  }
}

.movieDetails {
  @media screen and (min-width: 1032px) {
    margin-left: 2rem;
  }
}

.title {
  margin: 2rem 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
  z-index: 2;

  @media screen and (max-width: 1031px) {
    font-size: 2.6rem;
  }

  @media screen and (min-width: 1032px) {
    font-size: 4rem;
  }
}

.content {
  z-index: 2;
}
