.main {
  min-height: 100vh;
  padding: 4rem 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie {
  background-color: rgb(16 23 41 / 81%);
  display: flex;
  padding: 4rem;
  margin: 4rem;
  border-radius: 5px;

  img {
    border-radius: 5px;
  }
}

.movieDetails {
  margin-left: 2rem;
}

.title {
  margin: 2rem 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
  z-index: 2;
}

.banner {
  opacity: 0.5;
  z-index: 1;
  position: absolute;

  & img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: 1;
  }

  &:before {
    top: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(13, 13, 13, 0.63) 67%, #16213E);
  }

  &:after {
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(21, 21, 22, 0.4) 43%, #16213E 100%);
  }
}

.content {
  z-index: 2;
}

.rails {
  padding-left: 2rem;
}
